
    .grid-container {
        display: grid;
        grid-template-columns: repeat(16, auto); 
        gap: 0px;
        overflow: auto;
        width: 80vmin;
        height: 80vmin;
        padding: 0 auto;
        text-align: center;
        border: 2px solid red;
      }
      .grid-item {
        padding: auto;
        text-align: center;
      }

      .wrapper {
        display: flex;
        justify-content: center; 
        align-items: center;     
        height: 100vh;           
        padding: 0;
        margin: 0;
      }
     
      .grid-item:hover {
    background-color: aqua;
      }

    .button {
        width: 80vmin;
        display: flex;
        justify-content: center;
    }
 